<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.liming.mapper.user.UserMapper">

    <resultMap id="userInfo" type="com.liming.entity.user.UserEntity">
        <id column="user_id" jdbcType="INTEGER" property="userId"/>
        <result column="username" jdbcType="VARCHAR" property="username"/>
        <result column="password" jdbcType="VARCHAR" property="password"/>
        <result column="phone_num" jdbcType="VARCHAR" property="phoneNum"/>
        <result column="email" jdbcType="VARCHAR" property="email"/>
        <result column="nickname" jdbcType="VARCHAR" property="nickName"/>
        <result column="creattime" jdbcType="TIMESTAMP" property="creatTime"/>
        <result column="creat_userid" jdbcType="INTEGER" property="creatUserId"/>
        <result column="creat_nickname" jdbcType="VARCHAR" property="creatNickName"/>
    </resultMap>

    <resultMap id="menuInfo" type="com.liming.entity.user.MenuEntity">
        <id column="menu_id" jdbcType="INTEGER" property="menuId"/>
        <result column="menu_title" jdbcType="VARCHAR" property="menuTitle"/>
        <result column="menu_level" jdbcType="VARCHAR" property="menuLevel"/>
        <result column="parent_uuid" jdbcType="INTEGER" property="parentUuid"/>
        <result column="menu_icon" jdbcType="VARCHAR" property="menuIcon"/>
        <result column="menu_path" jdbcType="VARCHAR" property="menuPath"/>
        <result column="creattime" jdbcType="TIMESTAMP" property="creatTime"/>
        <result column="creat_userid" jdbcType="INTEGER" property="creatUserId"/>
        <result column="creat_nickname" jdbcType="VARCHAR" property="creatNickName"/>
        <result column="menu_component" jdbcType="VARCHAR" property="menuComponent"/>
    </resultMap>

    <sql id="userClumn">
        user_id, username, PASSWORD, phone_num, email, nickname, creattime, creat_userid, creat_nickname
    </sql>

    <select id="queryByUserName" parameterType="java.lang.String" resultMap="userInfo">
        SELECT
            <include refid="userClumn"/>
        FROM
            da_user
        WHERE
            username = #{username }
        AND state = '1'
    </select>

    <select id="queryByUsernamePassword" parameterType="com.liming.entity.user.UserEntity" resultMap="userInfo">
        SELECT
            user_id, username, PASSWORD, phone_num, email, nickname, creattime, creat_userid, creat_nickname
        FROM
            da_user
        WHERE
            username = #{username }
        AND password = #{password }
        AND state = '1'
    </select>

    <sql id="menuSql">
        dm.menu_id,
        dm.menu_title,
        dm.menu_level,
        dm.parent_uuid,
        dm.menu_icon,
        dm.menu_path,
        dm.creattime,
        dm.creat_userid,
        dm.creat_nickname,
        dm.menu_component
    </sql>
    
    <select id="queryMenuByUserId" parameterType="java.lang.Integer" resultMap="menuInfo">
        SELECT
            <include refid="menuSql"/>
        FROM
            da_menu dm
        INNER JOIN rs_auth ram ON dm.menu_id = ram.auth_id
        INNER JOIN rs_user_role rur ON ram.role_id = rur.role_id
        WHERE
            dm.state = '1'
        AND ram.state = '1'
        AND rur.state = '1'
        AND ram.auth_type = 'menu'
        AND rur.user_id = #{userId }
        UNION
            SELECT
                <include refid="menuSql"/>
            FROM
                da_menu dm
            INNER JOIN rs_auth ram ON dm.menu_id = ram.auth_id
            WHERE
                dm.state = '1'
            AND ram.state = '1'
            AND ram.auth_type = 'menu'
            AND ram.user_id = #{userId }
    </select>

    <select id="queryByUserId" parameterType="java.lang.Integer" resultMap="userInfo">
        SELECT
        <include refid="userClumn"/>
        FROM
            da_user
        WHERE
            user_id = #{userId }
        AND state = '1'
    </select>

    <update id="updateUserInfo" parameterType="com.liming.entity.user.UserEntity">
        UPDATE da_user
        <trim prefix="set" suffixOverrides=",">
            <if test="">username = #{username},</if>
            <if test="">`password` = #{password},</if>
            <if test="">phone_num = #{phoneNum},</if>
            <if test="">email = #{email},</if>
            <if test="">nickname = #{nickName},</if>
        </trim>
        WHERE
            user_id = #{userId}
    </update>

</mapper>